In [5]:
!pip3 install --user --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting twint
  Cloning https://github.com/twintproject/twint.git (to revision origin/master) to /tmp/pip-install-jrri9av5/twint_4c4f82540b4d4135aa5b60d3811de964
  Running command git clone -q https://github.com/twintproject/twint.git /tmp/pip-install-jrri9av5/twint_4c4f82540b4d4135aa5b60d3811de964
  WARNING: Did not find branch or tag 'origin/master', assuming revision or ref.
  Running command git checkout -q origin/master
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from twint) (3.8.1)
Requirement already satisfied: aiodns in /usr/local/lib/python3.7/dist-packages (from twint) (3.0.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from twint) (4.6.3)
Requirement already satisfied: cchardet in /usr/local/lib/python3.7/dist-packages (from twint) (2.1.7)
Requirement already satisfied: dataclasses in /root/.local/lib/python3.7/site-packages (from twint) (0.6)
Requirement already satisfied: elasticsearch in /usr/local/lib/python3.7/dist-packages (from twint) (8.2.3)
Requirement already satisfied: pysocks in /usr/local/lib/python3.7/dist-packages (from twint) (1.7.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from twint) (1.3.5)
Requirement already satisfied: aiohttp_socks in /usr/local/lib/python3.7/dist-packages (from twint) (0.7.1)
Requirement already satisfied: schedule in /usr/local/lib/python3.7/dist-packages (from twint) (1.1.0)
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (from twint) (1.17.0)
Requirement already satisfied: fake-useragent in /usr/local/lib/python3.7/dist-packages (from twint) (0.1.11)
Requirement already satisfied: googletransx in /usr/local/lib/python3.7/dist-packages (from twint) (2.4.2)
Requirement already satisfied: pycares>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from aiodns->twint) (4.1.2)
Requirement already satisfied: cffi>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pycares>=4.0.0->aiodns->twint) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.5.0->pycares>=4.0.0->aiodns->twint) (2.21)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (4.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (21.4.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.7.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (2.0.12)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (1.3.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (6.0.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (0.13.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->twint) (4.2.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->twint) (2.10)
Requirement already satisfied: python-socks[asyncio]<3.0.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp_socks->twint) (2.0.3)
Requirement already satisfied: elastic-transport<9,>=8 in /usr/local/lib/python3.7/dist-packages (from elasticsearch->twint) (8.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch->twint) (2022.5.18.1)
Requirement already satisfied: urllib3<2,>=1.26.2 in /usr/local/lib/python3.7/dist-packages (from elastic-transport<9,>=8->elasticsearch->twint) (1.26.9)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy->twint) (1.52)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from googletransx->twint) (2.28.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->twint) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->twint) (1.15.0)

In [6]:
import nest_asyncio
nest_asyncio.apply()

In [7]:
import twint

In [9]:
c = twint.Config()

c.Search = ['#jamescharles']
c.Limit = 50000
c.Store_csv = True
c.Since = '2019-01-01'
c.Output = "jamescharles.csv"

twint.run.Search(c)

1537389204874768384 2022-06-16 10:58:44 +0000 <arianas_whisk> @daily_simper @burningRed_23 @BluTashiro We have to wait till you're legal üòî #jamescharles #tonylopez #zoelaverne
1537385259490238467 2022-06-16 10:43:03 +0000 <thecelebpost> Jeffree Star says James Charles, Tati Westbrook 'ruined' YouTube beauty community    #JamesCharles #TatiWestbrook #TheCelebPost  https://t.co/esPreGuOw6
1536836170696560640 2022-06-14 22:21:10 +0000 <bluewolf_may> James Charles when he sees a kid @jamescharles #jamescharles #flop  https://t.co/2KL5SGyAWc
1536497434267947008 2022-06-13 23:55:09 +0000 <tfs_max_> Can somebody explain to me... How is James Charles not cancelled yet? ü§î #jamescharles
1536082338546741248 2022-06-12 20:25:43 +0000 <BarryAllanMcGh1> #FACEBOOKCLAN #TwitterPeeps #Instagram Keep in mind; this is your retirement/Pensions/Investment Portfolios, which are at stake.  #ItIsReal #WakeUp #Beadvised #Zendaya #JamesCharles get too a podium right, now. #100millionpeopleanhour #topofgoogle #inrealtime
1536043570481745920 2022-06-12 17:51:40 +0000 <thaRisingLight> "HAI SISTERS! üñêüèΩ" #StreetFighter6 #StreetFighter #Jamie #jamescharles #Sf6  https://t.co/eSeiYLsGJl
1535976031110459392 2022-06-12 13:23:17 +0000 <ManaoRedempta> What is happening sister #jamescharles slayy  https://t.co/6Fx89MPZIi
1535953739957288961 2022-06-12 11:54:42 +0000 <MaldiniTackles> Hamilton doing all this with a shit car imagine he had a Honda Civicüòç #LewisHamilton #AzerbaijanGP #Formula1 #JamesCharles
1535649320627625984 2022-06-11 15:45:03 +0000 <dailysoapdish> Youtube Beefs: Does Tana Mongeau still hate James Charles in 2022?  https://t.co/fclbI7uzJM #JamesCharles #TanaMarieMongeau #Youtube
1535429265084272642 2022-06-11 01:10:38 +0000 <VINCENTLIKESTEA> Today, at 5:30 am I was walking on a street and in the corner of my eye I saw James fucking Charles. I have no hate towards James but he is so fucking ugly. James face is oddly build.#jamescharles #jamescharlesisabitch
1535296694958669825 2022-06-10 16:23:51 +0000 <mrboogiethecat> do any sisters want my old sisters hoodies that don‚Äôt fit me anymore? i‚Äôd be happy to give them to my mutuals bc i‚Äôve outgrown them. just dm me if ur interested  #sisters #sistersapparel @jamescharles #jamescharles
1535082182238040064 2022-06-10 02:11:27 +0000 <mopslyman> #helpme #idk #slay #jamescharles
1535051964652072960 2022-06-10 00:11:22 +0000 <shower_thgts_co> @vedantb99 @Football__Tweet geman hey sister #jamescharles
1535037223996780544 2022-06-09 23:12:48 +0000 <BLT_86> @conciergemaree @AussieDiamonds #TMZ #jamescharles
1534792684241489921 2022-06-09 07:01:05 +0000 <Bunnyblue511> Slay the day away and run over the gay! #LGBT #gay #HappyPrideMonth #milliebobbybrown #jamescharles  https://t.co/GhZ0Kkrws4
1534528874205282307 2022-06-08 13:32:48 +0000 <CartierClass> #JamesCharles this you?
1534377119379165184 2022-06-08 03:29:47 +0000 <Lisa4942000> So good I had to share! Check out all the items I'm loving on @Poshmarkapp #poshmark #fashion #style #shopmycloset #converse #jamescharles:  https://t.co/ro3wzDRiTT  https://t.co/4F9iJFgSX7
1534375861109108738 2022-06-08 03:24:47 +0000 <FaxsFun> Alien VS. Predator but the predator is James Charles  #jamescharles
1534176455432843264 2022-06-07 14:12:25 +0000 <TheRaeganYoung> @jamescharles #jamescharles #jamescharlesdrawing  https://t.co/VTtBNMvCTD
1534105846602690560 2022-06-07 09:31:50 +0000 <eastwest05> James Charles, james Charles leaked, leaked video, viral, trending, jamescharles #jamescharles, leaked, blackchully, blackchulllyleaked, blackchully 3   https://t.co/6KGG25bmoK
1533981911340593152 2022-06-07 01:19:22 +0000 <BarryAllanMcGh1>  https://t.co/LaBfPmego1 #JamesCharles #makeup #STAT #MeganFox #call #AnnaWintour #executive #editor #VogueMagazine "When finished." - Ms. Wintour  Barry: ü§´  Tweets Provided by New Universe Productions...A F.A.M.E Company. #twitrunderworld #100millionpeopleanhour #topofgoogle
1533971460842299393 2022-06-07 00:37:50 +0000 <kxwoodsrecords> I forgot about him‚Ä¶.this just can on my Fyp I‚Äôm scared ü§† #fyp #jamescharles #TikTok #viral  https://t.co/t4KDJz2gJu
1533970037945802752 2022-06-07 00:32:11 +0000 <DjAllah8> @chargetawaycar We get it girl, make some random backstory to make everyone believe you #typical. If you were a true Gallagher fan, you would‚Äôve of used a capital for his name but as looking at this tweet YOU DID NOT. #fakefan #jamescharles. We stand for Aiden and not you #clown
1533820051912069121 2022-06-06 14:36:12 +0000 <MountainMamaF> @MichaelBePetty I just want to know who this guy is? Weirdo older man serving the young boys drinks at #jamescharles house? Mmmkay  https://t.co/xi9z0guOF4
1533628869126791168 2022-06-06 01:56:30 +0000 <theBEEzneez_> A woman should be 2 things:  ‚òùüèΩWho &amp; ‚úåüèΩWhat she wants üíã‚ú® ‚Ä¢ ‚Ä¢ #beauty #glam #makeup #looks #ilmakiage #fenty #lauramercier #jamescharles #becca #mac #morphe #luvmehair #shein #explore #foryou #fyp #viral  https://t.co/sDkrNuPZv6
1533422372115599366 2022-06-05 12:15:57 +0000 <Ulysses49496556> @elonmusk I love you musk and that‚Äôs what matter. In musk I trust! #jamescharles
1533086909211152385 2022-06-04 14:02:57 +0000 <haunted_crime> I know he's a p3d0 but #JamesCharles losing 36mil followers on TikTok in 8 hours has me shook. (Literally he woke up with 0 followers)
1533080614638915585 2022-06-04 13:37:56 +0000 <bucco_kalie> It‚Äôs really great to see other celebrities chopping their own cucumbers ü•í #Cucumber #jamescharles #celebscutcucumbers  https://t.co/ORTMFY9jM3
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [10]:
import pandas as pd
df = pd.read_csv('jamescharles.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               59 non-null     int64
 1   conversation_id  59 non-null     int64
 2   created_at       59 non-null     object
 3   date             59 non-null     object
 4   time             59 non-null     object
 5   timezone         59 non-null     int64
 6   user_id          59 non-null     int64
 7   username         59 non-null     object
 8   name             59 non-null     object
 9   place            2 non-null      object
 10  tweet            59 non-null     object
 11  language         59 non-null     object
 12  mentions         59 non-null     object
 13  urls             59 non-null     object
 14  photos           59 non-null     object
 15  replies_count    59 non-null     int64
 16  retweets_count   59 non-null     int64
 17  likes_count      59 non-null     int64
 18  hashtags         59 non-null     object
 19  cashtags         59 non-null     object
 20  link             59 non-null     object
 21  retweet          59 non-null     bool
 22  quote_url        4 non-null      object
 23  video            59 non-null     int64
 24  thumbnail        19 non-null     object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         59 non-null     object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 16.3+ KB

In [12]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1537389204874768384,1537381475837804544,2022-06-16 10:58:44 UTC,2022-06-16,10:58:44,0,1342548821507776513,arianas_whisk,"romance track 1, 10 & 14",NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'daily_simper', 'name': 'Mim ...",NaN,NaN,NaN,NaN
1,1537385259490238467,1537385259490238467,2022-06-16 10:43:03 UTC,2022-06-16,10:43:03,0,1282071211552407552,thecelebpost,The Celeb Post,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1536836170696560640,1536836170696560640,2022-06-14 22:21:10 UTC,2022-06-14,22:21:10,0,1457401843521314834,bluewolf_may,ìÇÄ,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1536497434267947008,1536497434267947008,2022-06-13 23:55:09 UTC,2022-06-13,23:55:09,0,799679253398724608,tfs_max_,tfs.max,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1536082338546741248,1536082338546741248,2022-06-12 20:25:43 UTC,2022-06-12,20:25:43,0,1312629959114981376,barryallanmcgh1,TwitrUnderworld,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [13]:
df['tweet'][10]

'do any sisters want my old sisters hoodies that don‚Äôt fit me anymore? i‚Äôd be happy to give them to my mutuals bc i‚Äôve outgrown them. just dm me if ur interested  #sisters #sistersapparel @jamescharles #jamescharles'